# Virtual environments
python_env_pdf/
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Generated outputs
data/output/
data/output/**

# Extracted images
*.jpg
*.jpeg
*.png
*.webp

# Excel & JSON outputs
*.xlsx
*.json
